.hero_data_desc span {
  color: #fff;
  z-index: 3;
  font-weight: 500;
  font-size: 1.7rem;
}
.hero_data_desc h1 {
  color: #fff;
  z-index: 3;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1;
}
