/* inter Display */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* 
font poppins
font Jetbrains
font lemon
font PP Mori
font canopee
font emerland
font proto
*/
/* @font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
  src: url(../fonts/Poppins-Light.ttf) format("truetype");
  src: url(../fonts/Poppins-Bold.ttf) format("truetype");
} */
@font-face {
  font-family: "PP Mori";
  src: url(../fonts/ppmori.ttf) format("truetype");
}
@font-face {
  font-family: "Neopixel";
  src: url(../fonts/neopixel-regular.otf) format("opentype");
}
@font-face {
  font-family: "lemon";
  src: url(../fonts/lemon-regular.otf) format("opentype");
}
/*  */
/* JetBrains Mono */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100..800&display=swap");
}

/* Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100..900&display=swap");
}

/* Roboto Mono */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100..700&display=swap");
}

/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,100..900&display=swap");
}
