/* contact_hero_section */
@media (max-width: 900px) {
  html {
    font-size: calc(100vw / 900 * 10);
  }
  /* services links */
  .swrapper_link .service_list ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-1 {
    width: 400px;
  }
  /* .form-1 .form_top {
    flex-direction: column;
  } */
}
@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  /* nav */
  /* 
  nav {
    display: none;
  } */
  .form-1 {
    display: none;
  }

  .form-2 {
    display: flex;
  }
  .so_cont .swrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-container {
    width: 100px;
    display: flex;
    display: none;
  }

  .menu-container .col {
    width: 100px;
  }

  .about_container {
    padding: 30px 15px 30px;
  }
  .etiquete {
    top: 45px;
  }

  .ewrapper,
  .swrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .service_container {
    gap: 40px;
    padding-bottom: 10px;
  }

  .service_list li a figure {
    width: 4em;
    height: 4em;
  }

  .name_service {
    font-size: 18px;
  }

  .about_desc,
  .service_desc {
    padding: 0;
  }

  .service_left {
    gap: 40px;
  }

  .service_list ul {
    gap: 1.8rem;
  }

  .list_one_grid,
  .list_two_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  /* .form-1 .form_top {
    flex-direction: column;
  } */
}
