/* contact_hero_section */

@media (max-width: 900px) {
  html {
    font-size: calc(100vw / 900 * 10);
  }

  /* services links */
  .swrapper_link .service_list ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-1 {
    width: 400px;
  }
  .list_two_grid.how_we_work_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .expert {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;
  }
  .expert .line {
    display: block;
  }
  .footer > h1 a {
    position: absolute;
    left: 50%;
    bottom: -10%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
    cursor: block;
  }
  .menu-close-btn,
  .logo-overlay a {
    font-size: 25px;
  }
  .hero,
  .about_cover {
    height: 80vh;
  }
  .footer > h1 a {
    position: absolute;
    left: 50%;
    bottom: -4%;
  }
  /*  */
  .logo {
    left: 15px;
    transform: translateX(0);
  }

  .logo a {
    font-size: 18px;
  }
  .logo {
    background-color: rgba(255, 255, 255, 0.747);
  }
  .cursor-cercle,
  .cursor-dot {
    display: none;
  }

  .menu-nav {
    position: fixed;
    top: 15px;
    bottom: inherit;
    right: 15px;
    height: fit-content;
    transform: translateX(0);
  }
  /*  */
  .menu-text {
    font-size: 12px;
  }

  .form-1 {
    display: none;
  }
  .formulaire_container.form-2 {
    display: flex;
    aspect-ratio: inherit;
  }
  .formulaire {
    padding: 10px 15px 15px 15px;
  }

  .so_cont .swrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-container {
    width: 100px;
    display: flex;
    display: none;
  }

  .menu-container .col {
    width: 100px;
  }

  .about_container {
    padding: 30px 15px 30px;
  }
  .etiquete {
    top: 45px;
  }

  .ewrapper,
  .swrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .service_container {
    gap: 40px;
    padding-bottom: 10px;
  }
  .service_container {
    padding: 10px 15px;
  }

  .service_list li a figure {
    width: 4em;
    height: 4em;
    font-size: 16px;
  }
  .expert {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .expert_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .expert .line {
    display: none;
  }

  .name_service {
    font-size: 18px;
  }

  .about_desc,
  .service_desc {
    padding: 0;
  }

  .service_left {
    gap: 40px;
  }

  .service_list ul {
    gap: 1.8rem;
  }

  .list_one_grid,
  .list_two_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .cont-grid p {
    gap: 0;
    justify-content: space-between;
  }
  .list_two_grid.how_we_work_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .how_we_work_grid {
    margin-bottom: 88px;
  }
  li.header_link_footer {
    font-size: 22px;
  }
  .footer_container_item_right_container {
    gap: 5rem;
  }

@media (max-width: 468px) {
  .menu-close-btn,
  .logo-overlay a {
    font-size: 25px;
  }
  .list_two_grid.how_we_work_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .how_we_work_grid {
    margin-bottom: 0;
  }
  .expert {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .logo a {
    font-size: 25px;
  }
  .footer_container_item_right_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_container_item_right_container > a {
    font-size: 10px;
  }
}
